/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

body {
  background-color: black;
  width: 100%;
  height: 100%;
  font-size: 12px;
  background-image: url("../images/mainbg.jpg");
}

.body-login {
  background-color: black;
  width: 100%;
  height: 100%;
  font-size: 12px;
  background-image: url("../images/loginbg.jpg");
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  width: 100%;
  color: white;
  height: 50vh;
}

.pageMainHeader {
  border-top: none;
  border-width: 1px !important;
  background-color: rgb(92, 21, 21) !important;
  padding-top: 3px;
  padding-left: 24px;
  height: 10vh;
}

.pageHeader {
  border-top: none;
  border-width: 2px;
  padding-bottom: 4px;
  padding-left: 24px;
}

.pageTitle {
  vertical-align: middle;
  font-size: 30px !important;
  color: white !important;
  width: 100%;
  margin-top: 20px;
  text-decoration: none !important;
  padding-left: 10px;
}
.pageHeader .pageTitle {
  vertical-align: middle;
  font-size: 30px;
  color: white;
  width: 100%;
  margin-top: 10px;
}
.pageMainIcon {
  color: darkcyan;
  font-size: 2.5em;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.toolBarIcon {
  color: rgba(63, 188, 219, 0.911);
  font-size: x-large;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 20px;
}
.userLoginControlWrap {
  margin-top: 60px;
  height: 40vh;
}
.PageMainLoader {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  position: absolute;
}
.PageMainLoader .loadingText {
  font-size: 12px;
  margin-right: 7px;
}

.PageMainLoader .loadingColor {
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.ajaxBusy {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  text-align: center;
  color: white;
  background-image: url("../images/ajax-loader.gif");
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.ajaxBusyText {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

#styleSearchGrid .k-loading-image,
#colorSearchGrid .k-loading-image,
#scrapReasonSearchGrid .k-loading-image {
  background-image: url("../images/ajax-loader.gif");
}
.PageMainLoader .lodingImage {
  top: 45%;
  left: 0;
  z-index: 2;
  width: 100%;
  position: absolute;
  text-align: center;
  color: #ffffff;
  font-size: 17px;
}
.toolBarLoggedinUser {
  color: rgb(144, 196, 238);
  font-size: 20px;
  vertical-align: middle;
  text-align: right !important;
  height: 20px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.userLoginControlWrap .TextTitle {
  padding-top: 0px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 50px;
}

.form-control {
  padding-top: 10px;
  font-size: 20px !important;
  font-weight: normal !important;
  margin-top: 20px;
}

.submitButton {
  font-size: 20px !important;
  font-weight: normal !important;
  width: 100px !important;
  height: 80px !important;
}
.submitButtonLogin {
  font-size: 20px !important;
  font-weight: normal !important;
  height: 50px !important;
  width: 100% !important;
}

.searchButton {
  font-size: 20px !important;
  width: 45px !important;
  height: 45px !important;
  margin-top: 20px;
}

.radioBtnContainer {
  margin-top: 6px;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 20px !important;
  font-weight: normal !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.er-erroPageText {
  text-align: center;
  font-size: 25px !important;
  width: 100%;
}
/* Hide the browser's default radio button */
.radioBtnContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radioBtnContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radioBtnContainer input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioBtnContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioBtnContainer .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.control-label {
  padding-top: 10px;
  text-align: left;
  font-size: 18px !important;
  font-weight: normal !important;
}

.control-label-main {
  margin-top: 15px;
}

.control-label-submitbtn {
  padding-top: 10px;
  text-align: left;
  margin-top: 6px;
  padding-left: 5px;
  font-size: 18px !important;
  font-weight: normal !important;
}

.control-datalabel {
  padding-top: 10px;
  text-align: left;
  font-size: 18px !important;
  font-weight: normal !important;
  color: rgb(216, 208, 94) !important;
}

.control-datalabel-search {
  margin-top: 10px;
}

.control-datalabel-scannedcount {
  text-align: left;
  padding-left: 5px;
  font-size: 100px !important;
  font-weight: bold !important;
  text-align: center;
  color: rgb(84, 224, 114) !important;
  display: none;
}

.control-datalabel-scannedstatus-pass {
  text-align: left;
  padding-left: 5px;
  font-size: 100px !important;
  font-weight: bold !important;
  text-align: center;
  color: rgb(84, 224, 114) !important;
}

.control-datalabel-scannedstatus-fail {
  text-align: left;
  padding-left: 5px;
  font-size: 100px !important;
  font-weight: bold !important;
  text-align: center;
  color: rgb(255, 0, 0) !important;
}

.msgWindowWrapper {
  width: 70% !important;
  height: auto !important;
  color: white !important;
  background-color: rgb(68, 67, 67) !important;
}

.msgWindow {
  text-align: center;
  font-size: 25px !important;
  height: auto !important;
  width: 92%;
  color: white !important;
  background-color: rgb(68, 67, 67) !important;
}
.msgWindowContent {
  text-align: center;
  font-size: 25px !important;
  width: 100%;
  color: white !important;
  background-color: rgb(68, 67, 67) !important;
}

.msgWindowWarning {
  background-color: #9c1212 !important;
  font-size: 33px !important;
  width: 100% !important;
  margin-top: -92px !important;
}
.msgWarningIcon {
  font-size: 30px;
  color: red;
  padding-right: 0 !important;
  margin-right: 0 !important;
}
.msgWindowTitle {
  font-size: 25px;
  color: white;
}
.msgErroCode {
  font-size: 25px;
  color: white;
}
.msgWindowInformation {
  background-color: #7cace2 !important;
  font-size: 25px !important;
}
.msgWindowBtn {
  margin-top: 40px;
  font-size: 25px !important;
  width: 100px !important;
  height: 60px !important;
  color: white !important;
  background-color: rgb(44, 151, 240) !important;
}

.personalLogin .control-label {
  padding-left: 0 !important;
  text-align: right !important;
  font-weight: normal !important;
  color: white;
}

.personalLogin .TextTitle {
  padding-left: 0 !important;
  text-align: center !important;
}

.mainFooter {
  text-align: right !important;
  color: rgb(163, 148, 148);
  font-size: 12px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 10px;
}

.bc-funckey-help {
  text-align: right !important;
  color: rgb(224, 211, 19);
  font-size: 15px;
  font-weight: normal !important;
  padding-left: 10px;
}
.timer {
  text-align: right !important;
  font-size: 25px !important;
  color: white !important;
  margin-right: 20px !important;
  right: 100 !important;
  padding-right: 10px;
}

.erroPageImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.erroPageMsgText {
  color: rgb(202, 200, 200);
  text-shadow: 0px 2px 3px rgb(145, 144, 144);
  text-align: center;
  font-size: 10px;
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}

.hiddenItemsWrapper {
  display: none;
}

.validationMsg {
  font-weight: bold;
  color: red;
  border-color: red;
  font-size: 15px;
  font-style: italic;
}

.loginMsg {
  font-weight: normal;
  color: rgb(0, 204, 255);
  font-size: 16px;
  font-style: italic;
}

.floatLeft {
  float: left !important;
}

.floatRight {
  float: right !important;
}

.controlMargin {
  margin-left: 20px;
}

.mgT10 {
  margin-top: 10px;
}
.clearBoth {
  clear: both;
}
.fieldlist {
  margin: 0 0 -1em;
  padding: 0;
}

.fieldlist li {
  list-style: none;
  padding-bottom: 1em;
  display: inline-block;
}

label {
  font-weight: bold;
  margin-left: 10px;
}

.form-control-small {
  color: black;
}

.roundCornerGroupBox {
  border-radius: 15px;
  background: rgb(66, 65, 65);
  margin-bottom: 10px;
  overflow: hidden;

  border: #ffffff63 solid 2px;
  left: 40px;
  top: 40px;
  box-shadow: 6px 7px 5px #00000075;
}

.roundCornerGroupBox_BC {
  padding-bottom: 20px;
  padding-left: 5px;
  margin-top: 22px;
  padding-right: 20px;
}

.roundCornerGroupBox_BC_SC {
  display: inline-block;
}

.roundCornerGroupBox_BC_Ac {
  display: inline-block;
  margin-top: 15px !important;
}

.bc_roundCornerGroupBoxResetBtn {
  margin-bottom: 10px;
  overflow: hidden;
  left: 40px;
  top: 40px;
  box-shadow: 6px 7px 5px #00000075;
  display: inline-block;
  margin-top: 15px !important;
}
.roundCornerGroupBoxLogin {
  border-radius: 15px;
  background: rgb(39, 38, 38);
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.bc_rightcontent {
  padding-right: 15px;
}

.textbox-barcode {
  background-color: rgb(48, 44, 44);
  caret-color: white;
  color: white;
  height: 90px;
  font-size: 60px !important;
  width: 439px;
}

.disabled {
  background-color: rgb(21, 73, 49);
}

.bs-buttonPressed-good {
  background-color: rgb(32, 221, 32) !important;
}
.bs-buttonPressed-scrap {
  background-color: rgb(240, 16, 16) !important;
}
.bs-buttonPressed-rework {
  background-color: rgb(220, 235, 18) !important;
}
.bs-buttonPressed-action {
  background-color: rgb(0, 102, 255);
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: white;
  text-decoration: none;
}
.disabled:hover {
  background-color: rgb(70, 81, 110);
}
.bs-btn-primary-action {
  color: #fff;
  background-color: rgb(14, 59, 143);
  border-color: rgb(14, 59, 143);
  text-decoration-color: #fff;
}
.bs-btn-primary-good {
  color: #fff;
  background-color: rgb(3, 82, 3);
  border-color: rgb(3, 75, 3);
  text-decoration-color: #fff;
}
.bs-btn-primary-scrap {
  color: #fff;
  background-color: rgb(87, 4, 4);
  border-color: rgb(107, 5, 5);
  text-decoration-color: #fff;
}
.bs-btn-primary-rework {
  color: #fff;
  background-color: rgb(105, 105, 2);
  border-color: rgb(94, 94, 6);
  text-decoration-color: #fff;
}
.bu-control-label {
  padding-top: 5px;
  padding-left: 0px !important;
  text-align: left;
  font-size: 12px !important;
  font-weight: normal !important;
}

.bu-control-label-main {
  margin-top: 20px;
}

.bu-control-label-submitbtn {
  padding-top: 5px;
  text-align: left;
  padding-left: 5px;
  font-size: 12px !important;
  font-weight: normal !important;
}

.bu-form-control {
  font-size: 12px !important;
  font-weight: normal !important;
  color: black;
}

.bu-control-datalabel {
  padding-top: 5px;
  text-align: left;
  font-size: 12px !important;
  font-weight: normal !important;
  color: rgb(216, 208, 94) !important;
}

.bu-searchButton {
  font-size: 12px !important;
  width: 30px !important;
  height: 25px !important;
}

.row {
  margin-top: 5px;
  margin-left: 5px;
}

.styleSearchWindow .k-grid {
  font-size: 18px;
  background-color: rgb(56, 56, 56);
}
.styleSearchWindow .k-grid tr td {
  line-height: 3em;
  background-color: rgb(56, 56, 56);
  color: #fff;
}

.styleSearchWindow .k-state-focused {
  background-color: #55a7eb !important;
  color: #fff;
}

.styleSearchWindow .k-grid-content {
  color: #000 !important;
  background: #4e4a4a !important;
}

.styleSearchWindow.k-window-content {
  position: relative !important;
  height: 100% !important;
  padding: 0.58em !important;
  overflow: auto !important;
  outline: 0 !important;
  background-color: #585555 !important;
}

.styleSearchWindow .k-header {
  border-radius: 4px 4px 0 0;
  background-color: black;
  font-size: 18px;
  color: white;
}

.colorSearchWindow .k-grid {
  font-size: 18px;
  background-color: rgb(56, 56, 56);
}
.colorSearchWindow .k-grid tr td {
  line-height: 3em;
  background-color: rgb(56, 56, 56);
  color: #fff;
}

.colorSearchWindow .k-state-focused {
  background-color: #55a7eb !important;
  color: #fff;
}

.colorSearchWindow .k-grid-content {
  color: #000 !important;
  background: #4e4a4a !important;
}

.colorSearchWindow.k-window-content {
  position: relative !important;
  height: 100% !important;
  padding: 0.58em !important;
  overflow: auto !important;
  outline: 0 !important;
  background-color: #585555 !important;
}

.colorSearchWindow .k-header {
  border-radius: 4px 4px 0 0;
  background-color: black;
  font-size: 18px;
  color: white;
}
.scrapReasonSearchWindow .k-grid {
  font-size: 18px;
  background-color: rgb(56, 56, 56);
}
.scrapReasonSearchWindow .k-grid tr td {
  line-height: 3em;
  background-color: rgb(56, 56, 56);
  color: #fff;
}

.scrapReasonSearchWindow .k-state-focused {
  background-color: #55a7eb !important;
  color: #fff;
}

.scrapReasonSearchWindow .k-grid-content {
  color: #000 !important;
  background: #4e4a4a !important;
}

.scrapReasonSearchWindow.k-window-content {
  position: relative !important;
  height: 100% !important;
  padding: 0.58em !important;
  overflow: auto !important;
  outline: 0 !important;
  background-color: #585555 !important;
}

.scrapReasonSearchWindow .k-header {
  border-radius: 4px 4px 0 0;
  background-color: black;
  font-size: 18px;
  color: white;
}

.bcInfoDataLabel {
  text-align: left;
  font-size: 30px !important;
  font-weight: normal !important;
  color: rgb(84, 228, 139) !important;
  padding-left: 0px !important;
}

.div-comps
{
    padding:0px;
    position:fixed;
    right:15px;
    top:92px;
    z-index:1000;
    width:180px;
   
    }

  .div-comps-div
  { 
      padding-top:10px;
      background-color:rgba(240,240,240,.6);
      position: relative;
      right:-140px;
      margin-right:0px;
      width:40px;
      height:30px;
      border-top:1px solid rgba(240,240,240,1);
      border-left:1px solid rgba(240,240,240,1);
      border-bottom:1px solid rgba(240,240,240,1);
      box-shadow: 0px 0px 5px 2px rgba(200,200,200,.6) inset,0px 0px 5px 2px rgba(180,180,180,.6);
      }

    .div-comps-div-a
    {
        display:block;
        width:100%;
        height:100%;
        text-decoration:none;
        text-align:center;
    }